@font-face {
    font-family: Zag;
    src: url(fonts/Algerian.ttf);
}

@font-face {
    font-family: text;
    src: url(fonts/baskervilleoldface.ttf);
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'text';
    background-color: var(--bg);
    color: var(--text);
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --headfooter: #1C120E;
    --zag: #ECDADA;
    --bg: #5A1903;
    --card: #330A05;
}

/* Шапка */
header {
    font-family: 'text';
    background-color: var(--headfooter);
}

.logo {
    width: 20vh;
    margin-left: 3%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin-right: 10%;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 10%;
}

.list a {
    text-decoration: none;
    color: var(--zag);
    white-space: nowrap;
    font-size: 5vh;
}

/* Баннер */

h1 {
    color: var(--zag);
    font-family: Zag;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

h2 {
    color: var(--zag);
    font-family: Zag;
    text-align: left;
    font-size: 14vh;
    margin: 2% 0 2% 3%;
}

.head-info {
    color: var(--zag);
    font-family: Zag;
    text-align: center;
    font-size: 14vh;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Карточки банд */
.gangs-container {
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding: 0 3%;
    margin-bottom: 5%;
}

.gang-card {
    display: grid;
    grid-template-columns: 50% 50%;
    background: var(--card);
    border: 2vw solid #5A1903;
    border-radius: 10vh;
    overflow: hidden;
}

.picture {
    width: 70vh;
    height: 70vh;
    padding: 7%;
    margin-left: 5%;
}

.gang-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

h3 {
    font-family: Zag;
    color: var(--zag);
    font-size: 6vh;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-family: text;
    color: var(--zag);
    font-size:6vh;
    line-height: 1.4;
    margin: 0;
}

/* Подвал */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headfooter);
    padding: 15px 3%;
}

.footer-container a {
    font-family: text;
    color: var(--zag);
    font-size: 8vh;
}

.images-f {
    display: flex;
    gap: 15%;
}

.ds {
    width: 20vh;
}

.tg {
    height: 20vh;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
    .gang-card {
        grid-template-columns: 1fr;
    }
    
    .gang-image {
        height: 120px;
        width: 100%;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .head-info {
        font-size: 12px;
    }
    
    .list a {
        font-size: 14px;
    }
}